output "eDP-1" {
    // 取消注释此行可禁用此输出。
    // off

    // 输出的分辨率以及可选的刷新率。
    // 格式为 "<宽>x<高>" 或 "<宽>x<高>@<刷新率>"。
    // 如果省略刷新率，niri 将为该分辨率选择最高的刷新率。
    // 如果完全省略 mode 或 mode 无效，niri 将自动选择一个。
    // 在 niri 实例内运行 `niri msg outputs` 可列出所有输出及其模式。
    mode "1920x1080@144"

    // 可以使用整数或分数缩放，例如使用 1.5 表示 150% 缩放。
    scale 1.2

    // Transform 可以逆时针旋转输出，有效值为：
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270。
    transform "normal"

    // 输出在全局坐标空间中的位置。
    // 这会影响方向性显示器操作（如 "focus-monitor-left"）和光标移动。
    // 光标只能在直接相邻的输出之间移动。
    // 定位时需要考虑输出的缩放和旋转：
    // 输出以逻辑像素（或称缩放像素）为单位进行尺寸计算。
    // 例如，3840×2160 的输出在 scale 2.0 时逻辑尺寸为 1920×1080，
    // 因此要将另一个输出放在其右侧相邻位置，需将其 x 设为 1920。
    // 如果未设置位置或位置导致重叠，则输出将自动放置。
    position x=1280 y=0
}
