@define-color logo #2e9afe;
@define-color workspace #5e81ac;
@define-color workspace-focused #8fbcbb;
@define-color focused-border rgba(143, 188, 187, 0.4);
@define-color window #d8dee9;
@define-color clock #b48ead;
@define-color network #a3be8c;
@define-color network-disconnected #bf616a;
@define-color pulseaudio #88c0d0;
@define-color pulseaudio-muted #4c566a;
@define-color cpu #ebcb8b;
@define-color memory #d08770;
@define-color temperature #8fbcbb;
@define-color temperature-critical #bf616a;

* {
    border: none;
    font-size: 16px;
    font-family: FiraCode;
    padding: 0 2px;
    min-height: 0;
}

window#waybar {
    border: 1px solid rgba(65, 72, 104, 0.6);
    border-radius: 6px;
    background: rgba(25, 25, 25, 0.758);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.385);
}

#waybar>box {
    padding: 2px 2px;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 2px;
}

#window,
#workspaces,
#clock,
#network,
#custom-logo,
#tray,
#pulseaudio,
#cpu,
#memory,
#temperature {
    padding: 0 2px;
}

#custom-logo {
    color: @logo;
    font-size: 20px;
    padding: 0 8px;
}

#workspaces button {
    padding: 0 4px;
    color: @workspace;
}

#workspaces button.focused {
    border: 1px solid @focused-border;
    padding: 0 6px;
    color: @workspace-focused;
}

#window {
    color: @window;
}

#clock {
    color: @clock;
}

#network {
    color: @network;
}

#network.disconnected {
    color: @network-disconnected;
}

#pulseaudio {
    color: @pulseaudio;
}

#pulseaudio.muted {
    color: @pulseaudio-muted;
}

#cpu {
    color: @cpu;
}

#memory {
    color: @memory;
}

#temperature {
    color: @temperature;
}

#temperature.critical {
    color: @temperature-critical;
}
